/*large mobile*/
.top-header{
  text-align: center;
  padding-top: 10%;
}
.top-header h1{
  font-size: 24px;
  margin-bottom: 2%;
}
.top-header p{
  font-size: 11px;
}
.bottom-header{
  margin-top: 5%;
}
#head-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 2% 0;
}
#head-list li a{
  color: black;
  cursor: pointer;
}
.backdrop img{
  
}
