@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*large mobile*/
.top-header{
  text-align: center;
  padding-top: 10%;
}
.top-header h1{
  font-size: 24px;
  margin-bottom: 2%;
  font-family: 'Dancing Script';
}
.top-header p{
  font-size: 11px;
  font-family: 'Amatic SC';
}
.bottom-header{
  margin-top: 5%;
}
#head-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 2% 0;
}
#head-list li a{
  color: black;
  cursor: pointer;
  font-family: 'Dancing Script';
}
.backdrop{
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop img{
  position: relative;
  z-index: -1;
  width: 98%;
  margin-top: 2%; 
}
.backdrop-text{
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.589);
  width: 80%;
  padding: 7% 0;
}
.backdrop-text h1{
  font-size: 24px;
  margin-bottom: 5%;
  font-family: 'Dancing Script';
}
.backdrop-text p{
  font-size: 11px;
  padding: 0 10%;
  line-height: 17px;
  font-family: 'Amatic SC';
}
.second-head{
  margin-top: 4%;
}
.second-head hr{
  margin: 2% 0;
}
.sechead{
  text-align: center;
  font-size: 24px;
  font-family: 'Dancing Script';
}
.Blog{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 3% 3% 0 3%;
}
.Blog img{
  width: 40%;
  height: 10%;
}
.Blog1text p{
 font-size: 15px;
 margin-bottom: 1%;
 font-family: 'Amatic SC';
}
.Blog1text h1{
  font-size: 16px;
  margin-bottom: 1%;
  font-family: 'Dancing Script';
}
.blogflex{
  display: flex;
  flex-direction: column; 
}
#blog-btn{
  padding: 1.5% 4%;
  background: white;
  border-color: black;
  position: relative;
  left: 70%;
  font-family: 'Dancing Script';
}
/*tablets*/
@media screen and (min-width: 426px) {
  .top-header{
    padding: 5%;
  }
  .top-header h1{
    font-size: 30px;
  }
  .top-header p{
    font-size: 24px;
  }
  .bottom-header{
    margin: 3%;
  }
  #head-list li a{
    font-size: 20px;
  }
  .backdrop-text{
    width: 70%;
    padding: 15% 0;
  }
  .backdrop-text h1{
    font-size: 30px;
  }
  .backdrop-text p{
    font-size: 20px;
    padding: 0 20%;
    line-height: 20px;
  }
  .sechead{
    font-size: 30px;
  }
  .Blog1text p{
    font-size: 20px;
    margin-bottom: 2%;
   }
   .Blog1text h1{
     font-size: 21px;
     margin-bottom: 2%;
   }
   #blog-btn{
    font-size: 15px;
   }
}
/*small laptops*/
@media screen and (min-width: 1025px) {}