/*large mobile*/
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer h1{
  text-align: center;
}
.footer-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-main form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}