/*large mobiles*/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.navbar img{
  position: absolute;
  right: 3%;
  cursor: pointer;
  background: gainsboro;
  padding-left: 100%;

}
.nav{
  z-index: 100;
  position: absolute;
  /*display: none;*/
}